/*-------------- LOGO DISPLAY - Made By FAXES -------------- */

#logo .contenair{
	position:relative;
	display: block-inline;
    z-index: 2;
    width: 150px;
    height:150px;
    margin:0 auto;
    opacity: 0.80;
    background: url('img/logo.png');
	padding: none;
	background-size: cover;
}
	
#logo .spacer{
	z-index: 2;
	width:  150px;
	height: 150px;
	margin: 0;  
	text-align: right;
	background-size: cover;
  background: transparent;	
}

